orbs:
  maven: circleci/maven@1.0.3
  docker: circleci/docker@1.5.0

version: 2.1
workflows:
  maven_test:
    jobs:
      build:
        parameters:
          DOCKERHUB_USERNAME:
            type: env_var_name
            default: DOCKERHUB_USERNAME
          DOCKERHUB_PASSWORD:
            type: env_var_name
            default: DOCKERHUB_PASSWORD
        steps:
          - maven/test:
              command: '-X clean'
          - maven/test:
              command: '-X compile'
          - docker/publish:
              image: nishshukla/casting
              update-description: true
              docker-username: ${<<parameters.DOCKERHUB_USERNAME>>}
              docker-password: ${<<parameters.DOCKERHUB_PASSWORD>>}
