orbs:
  maven: circleci/maven@1.0.3
  docker: circleci/docker@1.5.0

version: 2.1
workflows:
  maven_test:
    jobs:
      - maven/test:
          command: '-X clean'
      - maven/test:
          command: 'com.google.cloud.tools:jib-maven-plugin:0.9.7:dockerBuild -X'

  build-docker-image-only:
    jobs:
      - pull:
          executor: docker/machine
          steps:
            - checkout
            - docker/push:
                images: 'nishshukla/casting/com.waa-casting'
                tag: 'latest'
