orbs:
  maven: circleci/maven@1.0.3
  docker: circleci/docker@1.5.0
version: 2.1
workflows:
  maven_test:
    jobs:
      steps:
        - maven/test:
            command: '-X clean'
        - maven/test:
            command: '-X compile'
        - docker/publish:
            image: nishshukla/casting
            update-description: true
            docker-username: ${DOCKERHUB_USERNAME}
            docker-password: ${DOCKERHUB_PASSWORD}
