version: 2.0

jobs:
  checkout:
    docker:
      - image: circleci/openjdk:stretch
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - checkout
      - run: mvn clean

  build:
    docker:
      - image: circleci/openjdk:stretch
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - checkout
      - run: sudo mvn compile

  test:
    docker:
      - image: circleci/openjdk:stretch
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - run: sudo mvn test

workflows:
  version: 2

  build-then-test:
    jobs:
      - checkout
      - build
      - test:
          requires:
            - build
